*, *::before, *::after { /* Universal Selector selects all HTML elements. Commonly used for global styling resets.*/
	margin: 0; /* put this here to remove default margin 10px */
	padding: 0; /* put this here to remove default padding 0px */
	box-sizing: border-box; /* this will make container specifically follow the width / height set for container */
}
:root {
	--width-desktop: 600px;
	--width-mobile: 480px;
	--height-min: 600px;
	--main-color: hotpink; /*this is declaring a global variable*/
	--padd-box: 10px;
	--side-margin: 10px;
	--border-design-a: 15px 15px 0px 0px;
	--timing-bounce: cubic-bezier(0,0,0.5,1.5);
}
html {
	background: linear-gradient(lightskyblue, blueviolet);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: calibri;
	font-size: 1.5rem;
	/*padding: var(--padd-box);*/
	width: 100%;
	min-height: 100vh; /*viewport height*/
}
body {
	max-width: var(--width-desktop);
	min-width: var(--width-mobile);
	min-height: var(--height-min);
	/*background-color: lightgray;*/
}

.container {
	width: 400px;
	height: 400px;
	background-color: lightcoral;
	display: flex;
	justify-content: start;
	align-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
	align-content: flex-start;
	/*gap: 10px;*/
}
.item {
	text-align: center;
	line-height: 1.5em;
	background-color: blue;
	border: 1px solid black;
	width: 130px;
	height: 50px;
	flex-grow: 1;
}
.item-1 {
	width: 340px;
}

.textbox {
	border: 1px solid black;
	width: 400px;
	height: 120px;
	background-color: blue;
}

.button {
	background-color: blue;
	width: 100px;
	height: 50px;
}

.textboxB {
	background-color: red;
	width: 250px;
	height: 50px;
}
.span {
	vertical-align: super;
	color: blue;
}
.item:hover .item-1 {
	background-color: white;
	transform: translateY(-50px);
}

#SportsID {
	border: none;
	background-color: white;
	margin: 0px 10px;
	height: 30px;
}

button {
	width: 100px;
	height: 30px;
}

/* ---------------------------------------- MOBILE Responsive ---------------------------------------- */
	@media screen and (max-width: 480px) {
		.container {
			display: none;
		}
	}


/* ---------------------------------------- CSS Animation ---------------------------------------- */
	@keyframes anim1 { /*decaring keyframes with from and to*/
		from {}
		to {/* css syntax | css properties */}
	}
	/* Play Animation on hover */
		@keyframes bloop {
			50% { /* 50% is used for looping animation */
				color: black;
				transform: translateY(10px);
				transform: translateX(50px);
			}
		}
		.bloophover {
			width: 400px; height: 100px;
			background-color: white;
			vertical-align: 0px;
			animation: bloop 1s ease-in infinite;
		}

/* ---------------------------------------- SVG Test ---------------------------------------- */
	.svgtest {
		margin: var(--side-margin);
		background-color: white;
		background-image: url("images/circle-heat-svgrepo-com.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%; /* (cover[resize background image to COVER entire container] | auto | percentage | px) */
		--width-svg: 250px;
		width: var(--width-svg); /*not necessary to set width because by default it will fill entire container swidth*/
		height: calc(var(--width-svg) * 0.5); /*cannot use auto*/
	} 